{% extends 'base.html.twig' %}
{% block title %}Gestion coachs{% endblock %}
{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container">
        <h2> Modifier activité: </h2>
        {{ form_start(form) }}
        {{ form_label(form.libAct, null, {
            'label': 'Libellé activité: ',
        }) }}
        {{ form_widget(form.libAct) }}
        <button type="submit" class="btn btn-success">Sauvegarder</button>
        {{ form_end(form) }}

        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}

    </div>
{% endblock %}