{% extends 'base.html.twig' %}
{% block title %}Gestion coachs{% endblock %}
{% block body %}
    {% include 'menu.html.twig' %}
    </div>
    <div class="container">
        <h2> Modifier coach: </h2>
        {{ form_start(form) }}
        {{ form_label(form.nom, null, {
            'label': 'Nom: ',
        }) }}
        {{ form_widget(form.nom) }}
        {{ form_label(form.prenom, null, {
            'label': 'Prénom: ',
        }) }}
        {{ form_widget(form.prenom) }}
        <button type="submit" class="btn btn-success">Sauvegarder</button>
        {{ form_end(form) }}
        <hr>
        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}

    </div>
{% endblock %}